<div class="typeadministrator">
<div class="inneradministrator">
	<div class="header">
		<div class="step2"><%= image_tag 'step2.png' %></div>
	</div>
	<h1>how it works...</h1>
	<div class="clear"></div>
	<div class="text2">
		<h2>School Administrator</h2>
		<ul>
			<li>We help you sell your school tickets online. Are you looking for an easier 
solution to sell and manage your events at your school online, mobile, and through your own box office? Learn why High School Tix is the solution for you!</li>

<li>Create your own events. Offer general admission or student tickets. Scan tickets at the gate for ticket security.</li>

<li>Ticket sales are paid directly to the school.  Get paid when the ticket sells, not after the event is held!</li>
		</ul>

	</div>

	<div class="videframe">
		<iframe width="463" height="256" src="http://www.youtube.com/embed/ZhPSpYj__3I?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
	</div>

</div>
</div>
