<div class="typebooster">
<div class="innerbooster">
	<div class="header">
		<div class="step3"><%= image_tag 'step3.png' %></div>
	</div>
	<h1>how it works...</h1>
	<div class="clear"></div>
	<div class="text2">
		<h2>Booster Clubs</h2>
		<ul>
			
			<li>We help you help people support your school. We realize your goal is to help get your 
				community involved in your school, so we help make supporting your school easy.</li>

			<li>Sell tickets to all events including sports banquets and school sponsored fundraising events.</li>

			<li>We help you meet and beat your fundraising goals!</li>
		</ul>

	</div>

	<div class="videframe">
		<iframe width="463" height="256" src="http://www.youtube.com/embed/ZhPSpYj__3I?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
	</div>

</div>
</div>
