<div class="typefan">
<div class="bg"><div class="innerfan">
	<div class="header">
		<div class="step4"><%= image_tag 'step4.png' %></div>
	</div>
	<h1>how it works...</h1>
	<div class="clear"></div>
	<div class="text2">
		<h2>fans</h2>
		<ul>

			<li>We help you buy tickets to your favorite events! Buy your tickets in advance too! Pay will cash, credit card, or Paypal!</li>

			<li>Receive your tickets by text message or email. </li>

			<li>High School Tix are fans too, so we want to make your ticketing experience easy. Have fun!</li>
		</ul>

	</div>

	<div class="videframe">
		<iframe width="463" height="256" src="http://www.youtube.com/embed/ZhPSpYj__3I?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
	</div>

</div>
</div>
</div>